/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* COMMON */
html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* NAV */
nav {
    position: fixed;
    top: 1.5em;
    right: 1.5em;
    z-index: 1;
}

/* UL */
ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

ul li a {
    padding: .75em 1em;
    border-radius: 50%;
    margin-left: 1em;
    font-weight: 600;
    text-decoration: none;
    color: #4b4b4b;
    background-color: #f0f8ff;
}

/* FRAME */
.frame {
    position: relative;
    width: 100%;
    height: 100vh;
}

.frame .container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
}

/* FRAME-BG */
.frame#different {
    background-color: #f7bd53;
}

.frame#tommy {
    background-color: #2e407a;
}

.frame#converse {
    background-color: #eee169;
}

/* FRAME-TEXT */
.frame h2.navy {
    color: #2b406e;
}

.frame h2.red {
    color: #c21919;
}

.frame h2.tile {
    color: #01505e;
}